* {
  font-family: "Poppins", sans-serif;
}

:root {
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --color-tertiary-darker: #fd424b;
}

.title {
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1);
}

#navbar {
  background-image: var(--gradient-primary);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* .login-signup-form {
  position: relative;
} */

.login-signup-form {
  background-image: var(--gradient-primary);
  border-radius: 25px;
}

.transaction-form {
  background: var(--gradient-primary);
  border-radius: 25px;
}

#credit-transaction {
  position: relative;
  /* width: 30%; */
  padding: 1em 1.5em;
  margin: 2em auto;
  color: black;
  background: var(--gradient-primary);
}

#credit-transaction:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #379f4e #fff;
}

#debit-transaction {
  position: relative;
  /* width: 30%; */
  padding: 1em 1.5em;
  margin: 2em auto;
  color: black;
  background: radial-gradient(
    410px at 49.5% 99%,
    rgb(250, 208, 196) 0%,
    rgb(255, 209, 255) 99.5%
  );
}

#debit-transaction:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #d4accb #fff;
}

#login {
  position: relative;
}

#login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#login:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#logout {
  position: relative;
}

#logout::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#logout:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.cap {
  text-transform: capitalize;
}

.chart {
  margin: 0 auto;
}
