:root {
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --color-tertiary-darker: #fd424b;
  --color-secondary-darker: #ffbb00;
}

#navbar {
  text-align: right;
}

#navbar {
  background-image: var(--gradient-primary);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.login-signup-form {
  position: relative;
}

.login-signup-form::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  border-radius: 25px;
  background-image: var(--gradient-primary);
}

.transaction-form {
  position: relative;
}

.transaction-form::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  border-radius: 25px;
  background-image: var(--gradient-primary);
}

.transaction-list {
  background-image: var(--gradient-primary);
  transform: scale(1.07, 1.05) skewX(-15deg);
}

/* #transaction-href {
  background-color: var(--color-tertiary-darker);
  border-radius: 25px;
}

#chart-href {
  background-color: var(--color-secondary-darker);
  border-radius: 25px;
} */

/* .signup-login-href {
  border-radius: 25px;
} */

/* Hovering effects 1 */
/* #login {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#login:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
} */

/* Hover effect 2 requires webkit */
/* #login {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
} */

#login {
  position: relative;
}

#login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#login:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
