:root {
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
}

#navbar {
  text-align: right;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

#navbar {
  background-image: var(--gradient-primary);
}
